*{
    margin:0;
    padding:0;
}
body{
    background: #fff;
    /* background: #ebebeb;     */
}

/*Header*/
nav{
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
    -webkit-box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
    background: #fff;
    display: flex;
    justify-content: center;
}
.navbar .brand .brand-txt {
    position: relative;
    bottom: -20px;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition: 1s;
    z-index: 1;
}
.navbar .brand .brand-img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-transition: .5s !important;
    z-index: 2;
    box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
    width: 170px;
}
.navbar.affix .brand-txt {
    bottom: 0;
    opacity: 1;
}
.navbar.affix .brand-img {
    top: -10px;
    opacity: 0;
}
nav .menu{
    display: flex;
    justify-content: flex-end !important;
}
nav .navbar-nav,
nav .navbar-nav ul,
nav .navbar-nav ul .row{
    width: 100%;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul div{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: flex;
}
nav ul li.centro{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav ul li.centro h4{
    color: rgba(0,0,0,.7);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
nav ul li.centro h5{
    color: rgba(0,0,0,.7);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 13px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
}
nav ul li a:hover{
    color: rgba(0, 0, 0, .8);
}
nav ul div img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
    position: absolute;
}

/*Inicio*/

.inicio{
    background: #fff url(imagenes/bg-textura.png);
    background-attachment:fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}
.inicio .col{
    display: flex;
    justify-content: center;
}
.inicio .presentacion{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inicio h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.inicio h1{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 10px;
}
.inicio button{
    background:#252525;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Información*/

.informacion{
    padding: 40px 30px 30px 30px;
    background: #fff;
}
.informacion .row{
    align-items: center;
}
.informacion .col{
    padding: 0 20px;
}
.informacion .sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.informacion .sobre-mi p{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.informacion .sobre-mi img{
    width: 300px;
}
.informacion li{
    list-style: circle inside;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*Habilidades*/

.skills{
    padding: 30px;
}
.skills .row{
    display: flex;
    justify-content: center;
}
.skills h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.skills h3{
    margin-top: 10px;
}
.skills .habilidades .col-12{
    border-right: 1px solid #ebebeb;
}
.skills .habilidades .contenedor{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px;
    
}
.skills .habilidades .contenedor .tecnologia{
    width: 30%;
    margin: 0;
}
.skills .habilidades .contenedor .barra{
    color: #fff;
    text-align: center;
    width: 70%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
}
.skills .habilidades .contenedor .tecnologia p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}
.skills .habilidades .contenedor .barra .progreso.experto{
    background:#0d6efdff ;
    border-radius: 8px;
    width: 100%;
}
.skills .habilidades .contenedor .barra .progreso.avanzado{
    background:#0d6efdff ;
    border-radius: 8px;
    width: 75%;
}
.skills .habilidades .contenedor .barra .progreso.intermedio{
    background:#0d6efdff ;
    border-radius: 8px;
    width: 50%;
}
.skills .habilidades .contenedor .barra .progreso.basico{
    background:#0d6efdff ;
    border-radius: 8px;
    width: 25%;
}
.skills .habilidades h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

/*PORTAFOLIO*/

.portafolio h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
.portafolio h5{
    text-align: center;
}
.portafolio .boton{
    display: flex;
    justify-content: center;
}
.portafolio .boton button{
    background: #ebebeb;
    border: 2px solid #ebebeb;
}
.portafolio .boton button:focus{
    border: 2px solid #252525;
    box-shadow: 0 0;
}
.portafolio button a{
    color: #000;
    
    text-decoration: none;
}
.portafolio .card{
    margin-bottom: 20px;
}
.portafolio .row{
    display: flex;
    justify-content: space-around;
}

/*PAQUETES*/

.paquetes .estaticas{
    background-color: #717171;
    background: url(imagenes/precios-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.paquetes h3{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
.paquetes .estaticas h3{
    color: #fff;
}
.paquetes .paq{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paquetes .autoadministrables .paq{
    border: 1px solid #252525;
}
.paquetes .paq.centro{
    background: #4C8DCE;
    border: 1px solid #4C8DCE;
}
.paquetes .paq.centro{
    color: #fff;
}
.paquetes .paq .plan{
    margin-bottom: 20px;
}
.paquetes .paq .plan h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
}
.paquetes .paq .plan p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}
.paquetes .paq .contenido ul{
    padding: 0;
}
.paquetes .paq .contenido ul li{
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #252525;
}
.paquetes .paq.centro ul li{
    border-bottom: 1px solid #fff;
}
.paquetes .contratar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #4C8DCE;
}
.paquetes .contratar a{
    color: #252525;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-decoration: none;
}
.paquetes .centro .contratar{
    background: #4C8DCE;
    border: 1px solid #fff;
}
.paquetes .centro a{
    color: #fff;
}

/*CONTACTO*/

.contacto{
    margin: 30px 0;
}
.contacto .row{
    display: flex;
    justify-content: center;
}
.contacto h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
.contacto form{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.contacto form label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}
.contacto form input,
.contacto form textarea{
    background: #ebebeb;
    border: 1px solid #25252509;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    outline: none;
}
.contacto form label.mensaje{
    margin-top: 10px;
}
.contacto form textarea{
    max-height: 250px;
}
.contacto form .enviar{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.contacto form .enviar input{
    width: 150px;
}
.contacto form .enviar input:hover{
    background: #252525;
    color: #fff;
}

@media screen and (max-width:992px){
    .navbar .brand .brand-img {
        width: 140px;
    }
    nav ul div img{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 6px solid #fff;
        object-fit: cover;
        position: absolute;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav ul li a#btn-portafolio{
        padding-left: 45px;
    }
    .skills .habilidades .contenedor{
        display: block;
        margin:0;
    }
    .skills .habilidades .col-12{
        margin-bottom: 30px;
        border: 1px solid #ebebeb;
        border-radius: 10px;
    }
    .skills .habilidades .contenedor .tecnologia{
        width: 100%;
    }
    .skills .habilidades .contenedor .barra{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .informacion .sobre-mi img{
        margin-bottom: 30px;
    }   
    .estudios ul{
        margin-bottom: 20px;
    }
    nav ul li a#btn-portafolio{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 18px;
    }
}
@media screen and (max-width:576px){
    .navbar .navbar-nav .col-12.col-md-5{
        display: flex;
        justify-content: space-around;
    }
    .navbar .navbar-nav .col-12.col-md-5 li{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .navbar .navbar-nav .col-12.col-md-5 li a{
        text-align: center;
    }
    .portafolio .col-sm-6{
        max-width: 80%;
    }
    .contacto .row .formulario{
        max-width: 90%;
    }
    .contacto .row form{
        padding: 30px;
    }
    .contacto h2{
        font-size: 26px;
    }
}
@media screen and (max-width:460px){
    .informacion li{
        list-style: circle;
    }
    .inicio{
        height: 90vh;
    }
    nav .menu{
        padding: 10px 12px;
    }

}