<section id="about" class="pt-4 pb-12 md:pt-8 px-8 md:px-12 max-w-300 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <div class="space-y-4">
            <h2 class="text-3xl md:text-4xl font-bold font-mono text-[#ab805a]">Sobre mí</h2>
            <p class="text-lg md:text-xl text-gray-400">
                Disfruto desarrollar software que ayude a las personas y a las empresas a tener un mejor control de sus procesos. Mi trabajo se centra principalmente en el desarrollo web, combinando funcionalidad, rendimiento e interfaces intuitivas.<br/><br/>
                Me interesan especialmente las herramientas para negocios, los proyectos experimentales y las soluciones tecnológicas que resuelven problemas reales de forma práctica y eficiente.
            </p>
        </div>

        <div class="relative group flex items-center justify-center">
            <div class="absolute -inset-1 bg-linear-to-r max-w-lg from-[#ab805a]/50 to-[#cfb095]/50 rounded-2xl blur opacity-25 group-hover:opacity-50 transition duration-1000 group-hover:duration-200"></div>

            <div class="relative rounded-2xl overflow-hidden aspect-square max-w-lg bg-neutral-800 border border-gray-800">
                <img class="w-full h-full object-cover" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/gen_7f577e23ed_8365b58bc27de576.png" alt="professional developer portrait in modern dark workspace, moody lighting, highly detailed">
            </div>
        </div>
    </div>
</section>