---

const content = {
    es: {
        role: "Frontend Developer · Cofundador de DeltaHBC",
    },
    en: {
        role: "Frontend Developer · Co-founder of DeltaHBC",
    }
};

const { lang = 'es' }: { lang?: 'es' | 'en' } = Astro.props.language ? { lang: Astro.props.language } : {};

---

<section id="footer" class="py-18 px-6 bg-neutral-900">
    <div class="max-w-300 mx-auto px-2 md:px-12 flex flex-col items-center justify-between gap-2">
        <div class="flex items-center justify-center gap-4">
            <a class="flex items-center justify-center" href="mailto:cesaroliva.work@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-envelope text-gray-400 text-3xl cursor-pointer"></i></a>
            <a class="flex items-center justify-center" href="https://wa.me/8130416824" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp text-gray-400 text-3xl cursor-pointer"></i></a>
        </div>
        <p class="text-gray-400 font-mono text-xl mt-2">César Oliva</p>
        <p class="text-gray-400 text-md">{content[lang].role} <a class="text-gray-300 hover:text-gray-200 transition-colors" href="https://www.deltahbc.com" target="_blank" rel="noopener noreferrer">DeltaHBC</a></p>
    </div>
</section>